default: &default
  adapter: postgresql
  pool:    5
  timeout: 5000
  host: localhost

local_credentials: &local_credentials
  login:  zool
  password: zool

development:
  <<: *default
  <<: *local_credentials
  database: cdj_development

test:
  <<: *default
  <<: *local_credentials
  database: cdj_test

production:
  adapter: postgresql
  encoding: unicode
  host: localhost
  pool: 5
  username: <%= ENV['CDJ_AUDE_DB_USER'] %>
  password: <%= ENV['CDJ_AUDE_DB_PASSWORD'] %>
  database: cdj_aude_production
